<template>
  <b-row>
    <!--b-col cols="12" lg="12">
      <b-card no-header>
        <template slot="header">
          User id:  {{ $route.params.id }}
        </template>
        <b-table striped small fixed responsive="sm" :items="items($route.params.id)" :fields="fields">
          <template slot="value" slot-scope="data">
            <strong>{{data.item.value}}</strong>
          </template>
        </b-table>
        <template slot="footer">
          <b-button @click="goBack">Back</b-button>
        </template>
      </b-card>
    </b-col-->

    <b-col sm="12">
        <b-card>
          <div slot="header">
            <strong>Tạo người dùng</strong>
          </div>
          <b-form-group>
            <label for="username">Tài Khoản</label>
            <b-form-input type="text" id="username" v-model="username" ></b-form-input>
          </b-form-group>
          <b-form-group>
            <label for="username">Tên</label>
            <b-form-input type="text" id="name" v-model="name" ></b-form-input>
          </b-form-group>
          <b-form-group>
            <label for="password">Mật Khẩu</label>
            <b-form-input type="password" id="password"  v-model="password" ></b-form-input>
          </b-form-group>
          <b-form-group>
            <label for="email">Email</label>
            <b-form-input type="email" id="email"  v-model="email" ></b-form-input>
          </b-form-group>
          <b-form-group>
            <label for="address">Địa Chỉ</label>
            <b-form-input type="text" id="address" v-model="address" ></b-form-input>
          </b-form-group>
          <b-form-group>
            <label for="birthday">Ngày Sinh</label>
            <b-form-input type="date" id="birthday" v-model="birthday"></b-form-input>
          </b-form-group>
          <b-form-group>
            <label for="phone">Số Điện Thoại</label>
            <b-form-input type="text" id="phone" v-model="phone" ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Giới Tính"
            label-for="basicSelect"
            :label-cols="3"
            :horizontal="true" >
            <b-form-select v-model="gender" id="basicSelect"
              :plain="true"
              :options="[
                {
                  text: 'Nam',
                  value: 0
                }, {
                  text: 'Nữ',
                  value: 1
                }]"
              :value="gender">
            </b-form-select>
          </b-form-group>
          <b-form-group
            label="Quyền"
            label-for="basicSelect"
            :label-cols="3"
            :horizontal="true" v-model="role">
            <b-form-select id="basicSelect"
              :plain="true"
              :options="[
                {
                  text: 'Admin',
                  value: 1
                }, {
                  text: 'Quản lý',
                  value: 2
                },
                {
                  text: 'Thành viên',
                  value: 3
                }]"
              :value="role">
            </b-form-select>
          </b-form-group>
          <b-form-group>
          <b-button type="button" size="sm" variant="primary" v-on:click="saveCreate()"><i class="fa fa-dot-circle-o"></i> Tạo</b-button>
          </b-form-group>
        </b-card>
      </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'CreateUser',
  props: {
    caption: {
      type: String,
      default: 'User id'
    },
  },
  data: () => {
    return {
      _id : '',
      username: '',
      password: '',
      email: '',
      address: '',
      birthday: '',
      phone: '',
      name: '',
      gender: 0,
      role: 0,
      userInfo: []
    }
  },
  
  methods: {
    goBack() {
      this.$router.go(-1)
      // this.$router.replace({path: '/users'})
    },
    saveCreate: function(){
      this.$store
      .dispatch("user/postUser", {
                                  username: this.username,
                                  name: this.name,
                                  password: this.password,
                                  gender: this.gender,
                                  provinceId: 123456,
                                  email: this.email,
                                  birthday: this.birthday,
                                  address: this.address,
                                  userRoleId: this.role
                                }
        ).then((res) => {
        console.log(res);
        //alert('successful');
        //this.$router.push({path: 'users'})
      })
      .catch((err) => {
        console.log(err);
      });
    }
    }
}
</script>
