<template>
  <b-row>
    <b-col cols="12" xl="12">
      <transition name="slide">
        <b-card :header="caption">
          <div class="form-group">
            <a href="#" v-on:click="createUser()">Tạo mới +</a>
        </div>
        <div>
          <b-navbar type="light" variant="light">
            <b-nav-form>
              <b-form-input class="mr-sm-2" type="text" v-model="query" placeholder="tìm kiếm"></b-form-input>
              <b-button variant="outline-success" class="my-2 my-sm-0" type="button" v-on:click="search">Tìm Kiếm</b-button>
            </b-nav-form>
          </b-navbar>
        </div>
        <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" >
        <template slot="id" slot-scope="data">
            <strong>{{data.item.id}}</strong>
          </template>
          <template slot="name" slot-scope="data">
            <strong>{{data.item.name}}</strong>
          </template>
          <template slot="status" slot-scope="data">
            <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
          </template>
          <template slot="action" slot-scope="data" fixed>
            <b-col cols="12">
              <b-button block variant="success" fixed v-on:click="rowEdit(data.item._id)">Sửa</b-button>
            </b-col>
            <b-col cols="12">
              <b-button block variant="warning" fixed>Xóa</b-button>
            </b-col>
          </template>
        </b-table>
        <nav>
          <b-pagination size="sm" :total-rows="getRowCount(items)"  :per-page="perPage" v-model="currentPage" prev-text="Trước" next-text="Sau" hide-goto-end-buttons/>
        </nav>
      </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: 'Danh Sách',
  props: {
    caption: {
      type: String,
      default: 'Danh Sách'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: true
    }
  },
  data: () => {
    return {
      userInfo: [],
      pageCount: 0,
      items: [],
      query: '',
      fields: [
        {key: 'username', label: 'Tài khoản'},
        {key: 'name', label: 'Tên'},
        {key: 'email', label: 'mail'},
        {key: 'address', label: 'Địa chỉ'},
        {key: 'birthday', label: 'Ngày sinh'},
        {key: 'phone', label: 'Số điện thoại'},
        {key: 'gender', label: 'Giới tính'},
        {key: 'role', label: 'Quyền'},
        {key: 'action', label: 'Chức năng'}
      ],
      currentPage: 0,
      perPage: 0,
      totalRows: 0
    }
  },
  computed: {

  },
  created: function(){
    this.$store.dispatch("user/getUserList", 0)
      .then(res => {
        this.items = res.data.data.items;
        this.perPage = res.data.data.pageSize;
        this.pageCount = res.data.data.pageCount + 1;
        this.totalRows = res.data.data.totalCount;
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    rowEdit(id){
      const userLink = this.userLink(id);
      this.$router.push({path: userLink});
    },
    getRowCount (items) {
      return this.totalRows;
    },
    userLink (id) {
      return `users/${id.toString()}`
    },
    rowClicked (item) {
      const userLink = this.userLink(item._id);
      this.$router.push({path: userLink});
    },
    createUser (){
      const userLink = "new"
      this.$router.push({path: userLink})
    },
    search: function(){
    this.$store.dispatch("user/getSearch", this.query)
      .then(res => {
        this.items = res.data.data.items;
        this.perPage = res.data.data.pageSize;
        this.pageCount = res.data.data.pageCount + 1;
        this.totalRows = res.data.data.totalCount;
      })
      .catch((err) => {
        console.log(err);
      });
    }
  },
  watch: {
    currentPage: function(value, old) {
      if(this.currentPage > 0){
        this.$store.dispatch("user/getUserList", this.currentPage - 1)
        .then(res => {
          this.items = res.data.data.items;
          this.perPage = res.data.data.pageSize;
          //this.currentPage = res.data.data.pageNumber;
          this.pageCount = res.data.data.pageCount + 1;
          this.totalRows = res.data.data.totalCount;
        })
        .catch((err) => {
          console.log(err);
        });
      }
    }
  }
}
</script>

<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
